
<div id="header" class="nav-collapse">
    <div class="row clearfix">
        <div class="col-1">

            <!--Logo-->
            <div id="logo">

                <!--Logo that is shown on the banner-->
                <img src="../assets/images/logo.png" id="banner-logo" alt="Landing Page"/>
                <!--End of Banner Logo-->

                <!--The Logo that is shown on the sticky Navigation Bar-->
                <img src="../assets/images/logo-2.png" id="navigation-logo" alt="Landing Page"/>
                <!--End of Navigation Logo-->

            </div>
            <!--End of Logo-->
            
            
                <aside><app-social></app-social></aside>
            
                              <!--Main Navigation-->
          <nav id="nav-main">
            <ul>
                <li>
                    <a routerLink="/Home"  routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Нүүр</a>
                </li>
                <li>
                    <a routerLink="/About"  routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Бидний тухай</a>
                </li>

                <li>
                    <a routerLink="/Services"  routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Үйлчилгээ</a>
                </li>

                <li>
                    <a routerLink="/Gallery"  routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Зургийн цомог</a>
                </li>

                <li>
                    <a routerLink="/Clients"  routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Харилцагч</a>
                </li>

                <li>
                    <a routerLink="/Testimonials"  routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Сэтгэгдэл</a>
                </li>
               
                <li>
                    <a routerLink="/Pricing" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Төлбөр</a>
                </li>

                <li>
                    <a routerLink="/Blog"  routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Мэдээлэл</a>
                </li>

                <li>
                    <a (click)="logout()">Гарах</a>
                </li>
            </ul>
        </nav>
        <!--End of Main Navigation-->
            

            <div id="nav-trigger"><span></span></div>
            <nav id="nav-mobile"></nav>

        </div>
    </div>
</div><!--End of Header-->